@import url('fontstyle.css');

* {
    margin: 0;
    padding: 0;
    font-family: orbitron-semibold;
}

body,
html {
    height: 100%;
    background: url('../assets/image/background.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/image/border.jpg');
    width: 45vh;
    height: 30vh;
}

.content-container {
    width: 97%;
    height: 95%;
    background: #ffe4c4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

p{
    padding: 6px;
}

#emman-img{
    width: 122px;
    height: 254px;
    position: absolute;
    right: 10px;
    bottom: 2rem;
    opacity: 0;
}

.dialog-container{
    height: 100%;
    width: 100%;
}