html {
  width: 99vw;
  height: 98vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: lightblue url("../assets/image/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: orbitron-bold;
}

.progress-container {
  background: hsla(0, 0%, 0%, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.path-1-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100px;
}

.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.indicator-color {
  width: 70px;
  height: 70px;
  border: solid 2px black;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: white;
  position: relative;
}

img {
  width: 90px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  z-index: 2;
  /* top: 120px;
  left: 10px; */
}

.play-progress-hor {
  background: #55b776;
  animation: playProgressBar-hor 2s forwards;
}

@keyframes playProgressBar-hor {
  0% {
    width: 0px;
  }

  20% {
    width: 10px;
  }

  100% {
    width: 160px;
  }
}

.play-progress-ver {
  background: #55b776;
  animation: playProgressBar-ver 2s forwards;
}

@keyframes playProgressBar-ver {
  0% {
    height: 0px;
  }

  25% {
    height: 10px;
  }

  100% {
    height: 220px;
  }
}

.path-1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 160px;
  height: 5px;
  background: black;
}

#progress-bar-1 {
  width: 160px;
  height: 10px;
}

/* path 2  */

.path-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 160px;
}

.container-2 {
  padding-right: 33px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 270px;
  width: 10%;
}

.path-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  right: 0px;
  width: 5px;
  height: 160px;
  background: black;
}

#progress-bar-2 {
  width: 10px;
  height: 160px;
}

/* path 3 */

.path-3-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 70px;
}

.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.path-3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 160px;
  height: 5px;
  background: black;
}

#progress-bar-3 {
  width: 160px;
  height: 10px;
}

/* path 4 */

.path-4-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 160px;
}

.container-4 {
  margin-top: 25px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 270px;
  width: 10%;
}

.path-4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  right: 0px;
  width: 5px;
  height: 220px;
  background: black;
}

#progress-bar-4 {
  width: 10px;
  height: 212px;
}

/* path 5 */

.path-5-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
}

.container-5 {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.path-5 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 160px;
  height: 5px;
  background: black;
}

#progress-bar-5 {
  width: 160px;
  height: 10px;
}

.path-5-indicator {
  background-color: gold;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: none;
}

/* path 6 */

.path-6-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 160px;
}

.container-6 {
  padding-right: 23px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 270px;
  width: 10%;
}

.path-6 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  right: 0px;
  width: 5px;
  height: 160px;
  background: black;
}

#progress-bar-6 {
  width: 10px;
  height: 160px;
}

.path-7-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

#indicator-color-7 {
  background-color: gold;
  width: 85px;
  height: 85px;
}

.success-indicator {
  animation: successIndicator 1s forwards;
}

@keyframes successIndicator {
  /* 0% {
        width: 10px;
    } */

  100% {
    color: white;
    background: #55b776;
    border: 2px solid black;
  }
}

@font-face {
  font-family: orbitron-black;
  src: url(../assets/font/Orbitron-Black.ttf);
}

@font-face {
  font-family: orbitron-bold;
  src: url(../assets/font/Orbitron-Bold.ttf);
}

@font-face {
  font-family: orbitron-extrabold;
  src: url(../assets/font/Orbitron-ExtraBold.ttf);
}

@font-face {
  font-family: orbitron-medium;
  src: url(../assets/font/Orbitron-Medium.ttf);
}

@font-face {
  font-family: orbitron-regular;
  src: url(../assets/font/Orbitron-Regular.ttf);
}

@font-face {
  font-family: orbitron-semibold;
  src: url(../assets/font/Orbitron-SemiBold.ttf);
}

* {
  font-family: orbitron-black;
}

.indicator-succeed {
  color: white;
  background: #55b776;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  border: solid 2px black;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.progress-succeed {
  background: #55b776;
  width: 160px;
}
